@import './global/global';
@import "reset";

body {
  font: var(--font-m);
  color: var(--primary-color);

}

.app {
  background: #f0eaea;
  min-height: 100vh;
}

.content-page {
  display: flex;
  flex-direction: column;
}
