.volunteerCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 300px;
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hiddenNumber {
  font-size: 16px;
  margin-bottom: 8px;
}

.button {
  width: 100%;
  height: 100%;
  background-color: #ffe6bb;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 4px;
  padding: 10px 0 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.6s ease;

  &:hover {
    background-color: #ffeed4;
  }
}

.nameAndCityOwner {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.ownerCity {
  color: #757575;
}
