.Button {
    cursor: pointer;
    border-radius: 22px;
    padding: 10px 36px;
    background-color: #F2968F;
    border: none;
    color: #fff;
    font-size: var(--font-size-l);
    transition: background-color 0.2s;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);


    &:hover{
      background-color: #ffb1ab;
    }

    &:active{
      box-shadow: none;
    }
  }
  
  
  .disabled {
    opacity: 0.5;
  }