.Button {
    cursor: pointer;
    border-radius: 22px;
    padding: 10px 36px;
    background-color: #F2968F;
    border: none;
    color: #fff;
    font-size: var(--font-size-l);
    transition: background-color 0.2s;

    &:hover{
      background-color: #ffb1ab;
    }
  }
  
  
  .disabled {
    opacity: 0.5;
  }