.SectionHeader{
    display: grid;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 70%;
    min-width: 350px;
    position: relative;
    aspect-ratio: 3/1;
}

.img_dog{
    position: absolute;
    z-index: 10;
    width: 20%;
    aspect-ratio: 1 / 1;
    left: 11%;
}
.img_dog_bg{
    position: absolute;
    background:#C1CCE9;
    width: 30%;
    aspect-ratio: 1 / 1;
    left: 7%;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px #00000040;
}
.dog_char{
    display: flex;
    justify-self: center;
    align-items: center;
    position: relative;
    width: 80%;
    height: 40%;
    max-height: calc(100px + 3vw);
    min-height: 60px;
    border-radius: 78px;
    padding: 20px 0;
    top: 38%;
    background: #DEC1E9;
    box-shadow: 0px 0px 4px 0px #00000040;
}
.title {
    position: absolute;
    justify-self: center;
    width: calc(50%);
    left: 27%;
    top: calc(15% - 5px);
    z-index: 99;
    word-break: keep-all;
    h1 {
        font-size: calc(.7em + 1.7vw);
        text-align: center;
        color: #283C40;
        line-height: normal;
    }
}

.dog_char h2{
    position: relative;
    width: 75%;
    left: 20%;
    font-size: calc(.55em + 1.3vw) ;
    font-weight: normal;
    text-align: center;
    line-height: normal;
    padding: 0;
    z-index: 100;
}

@media screen and (max-width: 600px) {
    .SectionHeader{
        width: 100%;
    }
    .title {
        top: calc(4%);
    }
}