.SectionHeader{
    display: grid;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
    max-width: 1000px;
    position: relative;
    aspect-ratio: 3/1;
}
.img_dog{
    position: absolute;
    z-index: 10;
    width: 20%;
    aspect-ratio: 1 / 1;
    left: 11%;
}
.img_dog_bg{
    position: absolute;
    background:#C1CCE9;
    width: 30%;
    aspect-ratio: 1 / 1;
    left: 7%;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px #00000040;
}
.dog_char{
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    height: 40%;
    min-height: 50px;
    border-radius: 78px;
    padding: 15px 0;
    top: 38%;
    background: #DEC1E9;
    box-shadow: 0px 0px 4px 0px #00000040;
}
.title {
    position: absolute;
    justify-self: center;
    width: calc(50%);
    left: 27%;
    top: calc(15% - 5px);
    // left: 33%;
    z-index: 99;
    word-break: keep-all;
    h1 {
        font-size: calc(0.35em + 1.7vw);
        text-align: center;
        color: #283C40;
        line-height: normal;
    }
}

.dog_char h2{
    position: relative;
    font-size: calc(.35em + 1vw) ;
    font-weight: normal;
    text-align: center;
    line-height: normal;
    z-index: 100;
}