.container {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 80vh;
    margin-bottom: 50px;
}

.title {
    width: 80%;
    margin-bottom: 20px;
    color: #283C40;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 80%;
    gap: 5px;

    .filter {
        border-radius: 16px;
        background-color: #ffffff;
        padding: 20px 10px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .petsList {
        border-radius: 16px;
        display: flex;
        justify-content: center;
    }

    .error {
        padding: 20px;
        border-radius: 10px;
        color: #721c24;
        text-align: center;
    
        p {
            margin: 0;
            margin-bottom: 10px;
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
@media (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        width: 90%;
        
        .filter {
            margin-bottom: 20px;
        }
    }
}