.container {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 80vh;
    margin-bottom: 50px;
}

.title {
    width: 80%;
    margin-bottom: 20px;
    color: #000000;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    width: 80%;

    .filter {
        border-radius: 16px;
        background-color: #ffffff;
        padding: 20px 10px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .petsList {
        border-radius: 16px;
        padding: 20px 10px;
        display: flex;
        justify-content: center;

    }
}