.Input {
    border: 4px solid #F2968F;
    font-size: var(--font-size-l);
    border-radius: 10px;
    background-color: #F2F2F2;
    padding: 10px 10px;

    &:focus {
      border-color: #F2968F;
      outline: none;
    }
  }
  .inputBox h3{
    font-size: 1rem;
    padding:1px 10px;
    color:#666;
}