.basketCard {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 95%;
    margin: calc(2vw) 10px;
    padding: 10px;
}

.basketCard:hover {
    transform: scale(1.02);
}

.basketImg {
    width: 40%;
    aspect-ratio: 1 / 1;
    margin-right: 20px;
}

.basketDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    flex-grow: 1;
}

.basketName {
    font-size: calc(0.5em + 0.8vw);
    margin-bottom: 8px;
    width: calc(100% - 20px);
}

.basketCost, .basketCount {
    margin: 4px 0;
    font-size: calc(0.5em + 0.8vw);
    color: #555;
}

.basketActions {
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.basketButton, .basketRemoveButton {
    width: calc(20px + 0.8vw);
    height: calc(20px + 0.8vw);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.48);
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove_card{
    position: absolute;
    top: 10%;
    right: 5px;
    font-size: calc(20px + 2vw);
    cursor: pointer;
}

.subTotalCost{
    position: absolute;
    font-size: calc(0.5em + 0.8vw);
    right: 5%;
    bottom: 10%;
}

