

.Busket{
    position: fixed;
    display: grid;
    width: calc(40px + 2vw);
    height: calc(40px + 2vw);
    border-radius: 50%;
    margin: 10px;
    right: 0;
    z-index: 999;

    img{
        width: 100%;
    }
}
.busket_bg{
    display: none;
    position: fixed;
    width: 70%;
    height: 100vh;
    z-index: 998;
}
.busket_bg.open{
    display: block;
}

.busket_body{
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    border-radius: 0 0 0 5px;
    width: 30%;
    padding-top: 55px ;
    right: -30%;
    background-color: rgb(247, 251, 251);
    height: 100vh;
    margin: 0;
    transition: right 0.3s ease-in-out, width 0.3s ease-in-out;
    z-index: 998;
}
@media screen and (max-width: 960px) {
    .busket_body{
        width: 100%;
        right: -100%;
    }
    .busket_bg.open{
        display: none;
    }
}
.open_busket{
    right: 0;
}

.Busket:hover{
    cursor: pointer;
}

.result_cost{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
    text-align: justify;
    font-size: calc(0.5em + 1vw);
    padding: 20px;
    font-weight: lighter;
    border-top: 1px inset rgb(129, 127, 127) ;
    background-color: inherit;

    Button{
        font-size: calc(0.5em + 1vw);
        padding: 1vw;
        
    }
}

.empty{
    align-self: center;
    justify-self: center;
    width: 200px;
}

.busket_item_container{
    overflow: auto;
    height: calc(100% - 90px);
}

.busket_item_container.empty{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.empty_text{
    text-align: center;
}

.busket_count{
    display: flex;
    position: absolute;
    align-self: end;
    justify-self: end;
    justify-content: center;
    align-items: center;
    color: white;
    width: calc(15px + 1vw);
    height: calc(15px + 1vw);
    font-size: calc(0.75em + 1vw);
    background-color: #F2968F;
    border-radius: 50%;
    pointer-events: none;
}