.Pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 60px;
    padding-bottom: 20px;
}

.PageButton {
    background-color: #F2968F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.2s;
}

.PageButton:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

.PageButton:hover:not(:disabled) {
    background-color: #f4a9a4;
}