.PetsItem {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    max-height: max-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, max-height 0.2s;
    z-index: 2;
}

.PetsItem:hover {
    max-height: 100%;
    transform: scale(1.05)    
}

.PetsImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    transition: transform 1s;
    object-fit: cover;
}

.PetsFact {
    padding: 4px;
    font-size: 16px;
    color: #333;
}

.PetsDiscription {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 13vh;
}