*{
    -webkit-tap-highlight-color: transparent;
}
.DonationListItem{
    display: grid;
    box-sizing: border-box;
    background: #FCFCFC;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.48);
    border-radius: 16px;
}
.DonationListItem:hover {
    transform: scale(1.05);
}
.donationImg {
    width: 100%;
    aspect-ratio: 1 / 1;
    transition: transform 1s;
}
.card_description{
    display: flex;
    align-items: center;
    font-size: calc(0.5em + 1vw);
    justify-content: center;
    position: absolute;
    width: 100%;
    aspect-ratio: 1 / 1;
    top: 0;
    z-index: 0;
    text-align: center;
    line-height: normal;
    background-color: #FCFCFC;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    transition: transform 1s ;
}

.card_flipper{
    position: relative;
    width: 60%;
    justify-self: center;
    aspect-ratio: 1 / 1;
}
.card_flipper:hover{
    .card_description{
        transform: rotateY(0);
        z-index: 1;
    }
    .donationImg{
        transform: rotateY(180deg);
        z-index: 0;
    }
}
.donationDetails {
    padding: 5px;
    text-align: center;
    display: grid;
    width: 100%;
}
.donationName {
    font-size: calc(0.5em + 1vw);
    line-height: normal;
}
.donationCost, .donationCount {
    margin: 0;
    color: #555;
    font-size: calc(0.5em + 1vw);
    line-height: normal;
}
.donationLink {
    display: inline-block;
    margin-top: 12px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.donate_btn{
    width: calc(20px + 1vw);
    height: calc(20px + 1vw);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.48);
}
.donate_btn:active{
    box-shadow: none;
}
.total{
    font-size: 18px;
    margin: 5px;
}

.actions{
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}