.DonationList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../../shared/assests/donationList/bg.png);
    background-size: cover;
    border-bottom: 8px solid #F2968F;
}

.donation_card_container{
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
    gap: 20px;
}
@media screen and (max-width: 600px) {
    .donation_card_container{
        position: relative;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, min-content);
        column-gap: 10px;
        row-gap: 10px;
    }
}

.donation_list_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    width: 75%;
    max-width: 1000px;
    margin-bottom: 40px;
    z-index: 100;
}
.pagination_left{
    position: absolute;
    align-self: center;
    left: calc(-10% - 10px);
}
.pagination_right{
    position: absolute;
    align-self: center;
    right: calc(-10% - 10px);
}
.pagination_btn{
    height: 35px;
    width: 35px;
    padding: 5px;
}

.spinner{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.loading{
    filter: blur(10px);
    pointer-events: none;
}


