.DonationList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../../shared/assests/donationList/bg.png);
    background-size: cover;
}
.DonationList header{
    margin: 20px 0 40px 0;
    position: relative;
    height: 450px;
}
.img_dog{
    position: absolute;
    z-index: 100;
}
.img_dog_bg{
    position: absolute;
    background:#C1CCE9;
    height: 450px;
    width: 450px;
    left: -75px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px #00000040;
}
.dog_char{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1073px;
    height: 140px;
    border-radius: 78px;
    opacity: 0px;
    top: 236px;
    background: #DEC1E9;
    box-shadow: 0px 0px 4px 0px #00000040;
}
.title {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    z-index: 99;
    width: 100%;

    h1 {
      font-size: 36px;
      color: #283C40;
      line-height: 50px;
    }
}

.dog_char h2{
    position: relative;
    font-size: 24px;
    left: 100px;
}
.donation_card_container{
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 313px 313px 313px;
    grid-template-rows: 401px 401px;
    column-gap: 20px;
    row-gap: 20px;
}
.donation_list_container{
    display: flex;
    align-items: center;
    gap: 75px;
}

