.PetsList {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    min-height: 43vh;
    width: 75%;
    max-width: 1000px;
    margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
    .PetsList {
        min-height: 60vh;
    }
}

@media screen and (max-width: 800px) {
    .PetsList {
        width: 85%;
    }
}

@media screen and (max-width: 600px) {
    .PetsList {
        width: 95%;
        margin-bottom: 20px;
    }
}

.PetsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    transition: resize 0.2s;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .PetsGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .PetsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .PetsGrid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }
}

@media screen and (max-width: 400px) {
    .PetsGrid {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }
}

.spinner {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 46%;
    top: 40%;
}

.loading {
    filter: blur(10px);
    pointer-events: none;
}

.Pagination {
    width: 100%;
}
